@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/js/Index.js" ></script>
   <script src="~/js/DriftCarsPacks.js"></script>
   <script src="~/js/TracksIndex.js"></script>
   <script src="~/js/IndexChampioship.js"></script>
   <script src="~/js/IndexSkins.js"></script>

}


<!--News-->
<div class="MainNewsA container-sm text-center ">
    <a class="nav-link text-decoration-none text-opacity-75 link-warning text-uppercase " style="font-size:16px" tabindex="-1" asp-area="" asp-controller="Home" asp-action="Privacy">News</a>
</div>


<div id="carouselExample" class="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">
                    <img src="~/Images/GT7.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; " />
                </a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Gran Turismo 7</h5>
                    <p class="card-text text-dark">Huge Gran Turismo 7 Handling 1.49 Update Out Now</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/P1XL.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; " /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark" >New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/vosan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Automobilista 2</h5>
                    <p class="card-text text-dark">New BMW M4 G82 csl it's the best car</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>

<!--News-->



<!--Drift Cars-->

<div class="MainNewsB container-sm text-center">
<a class=" nav-link text-decoration-none text-opacity-75 link-warning text-uppercase" style="font-size:16px" tabindex="-1" asp-area="" asp-controller="Home" asp-action="Privacy">Drift Cars Packs</a>
</div>


<div id="DriftCarsPacks" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ADL STREET.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark ">ADL Street Comp Pack</h5>
                    <p class="card-text text-dark" >ADL Street Spec pack is a purpose built competition drifting pack with 450whp.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP X.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP X</h5>
                    <p class="card-text text-dark" >The DCGP team are proud to present the Season X Car Pack!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA V1.0.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA V1.0 Pack</h5>
                    <p class="card-text text-dark">ESDA would like to announce the release of the ESDA 1.0 Pro Pack.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/IVDC PUBLIC.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">IVDC PUBLIC CAR PACK 2.1</h5>
                    <p class="card-text text-dark">IVDC PUBLIC CAR PACK 2.1(Update)</p>
                     <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                     </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/PRO SPEC.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">AEO ProSpec Car Pack v1</h5>
                    <p class="card-text text-dark">We are excited to share our ProSpec v1 pack!</p>
                     <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                     </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/VDC V4.1.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">VDC Public Car Pack 4.0</h5>
                    <p class="card-text text-dark">The VDC Public Car Pack 4.0 is now available to download!</p>
                     <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                     </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/VDC V4.1.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">VDC Public Car Pack 4.0</h5>
                    <p class="card-text text-dark">The VDC Public Car Pack 4.0 is now available to download!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/IVDC PUBLIC.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">IVDC PUBLIC CAR PACK 2.1</h5>
                    <p class="card-text text-dark">IVDC PUBLIC CAR PACK 2.1(Update)</p>
                     <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                     </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA V1.0.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA V1.0 Pack</h5>
                    <p class="card-text text-dark">ESDA would like to announce the release of the ESDA 1.0 Pro Pack.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA V1.0.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA V1.0 Pack</h5>
                    <p class="card-text text-dark">ESDA would like to announce the release of the ESDA 1.0 Pro Pack.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA V1.0.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA V1.0 Pack</h5>
                    <p class="card-text text-dark">ESDA would like to announce the release of the ESDA 1.0 Pro Pack.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#DriftCarsPacks" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#DriftCarsPacks" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>
<!--Drift Cars-->


<!--Tracks-->
<div class="MainNewsB container-sm text-center">
    <a class=" nav-link text-decoration-none text-opacity-75 link-warning text-uppercase" style="font-size:16px" tabindex="-1" asp-area="" asp-controller="Home" asp-action="Privacy">Tracks</a>
</div>


<div id="Tracks" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Drift NWA Toge.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Drift NWA Toge</h5>
                    <p class="card-text text-dark">Mountain climb drift event hosted by Drift NWA and Reaction Motorsports</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024-Arens.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - ArenaBRB Brasília</h5>
                    <p class="card-text text-dark">Official track of the SemiFinal of the Brazilian Drift Championship EDN 2024</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Barbagallo 2024.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Barbagallo 2024</h5>
                    <p class="card-text text-dark">ESDA Barbagallo 2024 Track used for the APAC Regional Event</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Road Atlanta.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Road Atlanta</h5>
                    <p class="card-text text-dark">Track used for Dreamhack AtlantaEdit made by Nickster (Shadowrealm)</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Texas Motor Speedway.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Texas Motor Speedway</h5>
                    <p class="card-text text-dark">Track used for Dreamhack Dallas Edit made by Nickster (Shadowrealm)</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Interlagos.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Interlagos</h5>
                    <p class="card-text text-dark">Official track of the 3st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Goiânia .png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Goiânia</h5>
                    <p class="card-text text-dark">Official track of the 2st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP X Motorland.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP X Motorland</h5>
                    <p class="card-text text-dark">DCGP SEASON X R7 - MOTORLAND TRACK RELEASE!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Velocitta.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Velocitta</h5>
                    <p class="card-text text-dark">Official track of the 1st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP X Kounmori Touge.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP X Koumori Touge</h5>
                    <p class="card-text text-dark"> DCGP X Koumori track to be used in the 5th round of competition.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Bikernieki Longwall.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Biķernieki #Longwall</h5>
                    <p class="card-text text-dark">Experience the excitement of #Longwall drifting at Biķernieki Circuit.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link  text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Tracks" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Tracks" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>

<!--Tracks-->





<!--Skins-->
<div class="MainNewsB container-sm text-center">
    <a class=" nav-link text-decoration-none text-opacity-75 link-warning text-uppercase" style="font-size:16px" tabindex="-1" asp-area="" asp-controller="Home" asp-action="Privacy">Skins</a>
</div>


<div id="Skins" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Drift NWA Toge.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Drift NWA Toge</h5>
                    <p class="card-text text-dark">Mountain climb drift event hosted by Drift NWA and Reaction Motorsports</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024-Arens.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark ">EDN 2024 - ArenaBRB Brasília</h5>
                    <p class="card-text text-dark">Official track of the SemiFinal of the Brazilian Drift Championship EDN 2024</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Barbagallo 2024.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Barbagallo 2024</h5>
                    <p class="card-text text-dark">ESDA Barbagallo 2024 Track used for the APAC Regional Event</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Road Atlanta.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Road Atlanta</h5>
                    <p class="card-text text-dark">Track used for Dreamhack AtlantaEdit made by Nickster (Shadowrealm)</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Texas Motor Speedway.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Texas Motor Speedway</h5>
                    <p class="card-text text-dark">Track used for Dreamhack Dallas Edit made by Nickster (Shadowrealm)</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Interlagos.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Interlagos</h5>
                    <p class="card-text text-dark">Official track of the 3st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Goiânia .png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Goiânia</h5>
                    <p class="card-text text-dark">Official track of the 2st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP X Motorland.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP X Motorland</h5>
                    <p class="card-text text-dark">DCGP SEASON X R7 - MOTORLAND TRACK RELEASE!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN 2024 Velocitta.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">EDN 2024 - Velocitta</h5>
                    <p class="card-text text-dark">Official track of the 1st stage of the Brazilian Drift Championship EDN 2024.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP X Kounmori Touge.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP X Koumori Touge</h5>
                    <p class="card-text text-dark"> DCGP X Koumori track to be used in the 5th round of competition.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Bikernieki Longwall.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Biķernieki #Longwall</h5>
                    <p class="card-text text-dark">Experience the excitement of #Longwall drifting at Biķernieki Circuit.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link  text-sm-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Skins" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Skins" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>

<!--Skins-->







<!--Championship-->
<div class="MainNewsB container-sm text-center">
    <a class=" nav-link text-decoration-none text-opacity-75 link-warning text-uppercase" style="font-size:16px" tabindex="-1" asp-area="" asp-controller="Home" asp-action="Privacy">Championship</a>
</div>


<div id="Championship" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/DCGP SEASON X.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">DCGP SEASON X</h5>
                    <p class="card-text text-dark">Welcome to the worldwide sim-drifting league!You can find us on Discord</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/VDC Champs.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">VDC Championship</h5>
                    <p class="card-text text-dark">The Drift Mansion v2 w/ VDC Layout A now available!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/ESDA Champ.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ESDA Championship</h5>
                    <p class="card-text text-dark">Here is the updated ESDA 2024 schedule.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/IVDC Champs.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Intervirtualdriftchamp</h5>
                    <p class="card-text text-dark">The final sixth stage will take place on May 11-12 at 14:00 UK time.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/FDC 2023.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">FDC 2023 PRO SEASON</h5>
                    <p class="card-text text-dark">Final round of the season, practice sessions are in full swing!</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/Xamastios.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">XAMASTIOS Drift Cup </h5>
                    <p class="card-text text-dark">XAMASTIOS Drift Cup Is currently the biggest drift Championship in Portugal</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/EDN Japan.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">E-Drift Masters Japan</h5>
                    <p class="card-text text-dark">e-Drift Masters Japan Is an assetto corsa drifting series the Asia Pacific region.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy">Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card " style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/teamconfusa.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">CONFUSA CHAMPIONSHIP</h5>
                    <p class="card-text text-dark">Japan to revisit the good 'ol classic and menacing track: Ebisu Minami.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/shadowrealmgg.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">ShadowRealm Drift League</h5>
                    <p class="card-text text-dark">SRDL is based in North America and caters to a worldwide audience..</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center " asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/bitlook.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Bitlook Virtual Drift </h5>
                    <p class="card-text text-dark">Bitlook Virtual Drift in Assetto Corsa.The series consists of 5 events. 4 classic rounds + 1 team jam.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card" style="width:20rem;height:22em;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Privacy"> <img src="~/Images/RTR Riga.png" alt="Mods" class="card-img-top" style="min-height: 10.5em; -webkit-border-top-left-radius: 2px;  -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;" /></a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Drift King of RTRiga </h5>
                    <p class="card-text text-dark">The Drift King of RTRiga is a virtual drifting.</p>
                    <div class="mt-auto d-grid gap-1">
                        <a class="btn btn-warning stretched-link align-self-sm-start text-center" asp-area="" asp-controller="Home" asp-action="Privacy"> Look</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Championship" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Championship" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>

<!--Championship-->